.website {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    background-color: lightgray;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 6px;
    border: none;
}

.body1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
}

.number {
    background-color: lightgray;
    width: 150px;
    height: 150px;
    color: gray;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    margin: 60px;
}

.About {
    background-color: lightgray;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.text {
    background-color: black;
    text-align: center;
    height: 50px;
    color: darkgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HAC a {
    color: white;
    text-decoration: none;
}