* {
    margin: 0;
    padding: 0;
}

.big {
    width: 400px;
    height: 90px;
    background-color: darkslategray;
    text-align: center;
    padding: 20px;
    margin: 10px;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.small {
    width: 150px;
    height: 40px;
    background-color: darkslategray;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px;
}

.right {
    position: relative;
    right: 10px;
}