* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hotbody {
    width: 100%;
}

.number {
    background-color: violet;
}

.item {
    background-color: violet;
    width: 230px;
    height: 60px;
    margin: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96.6%;
}