.backgruod {
    background-color: blueviolet;
    width: 30%;
    height: 430px;
}

.mess {
    padding: 20px;
}

button {
    border-radius: 5px;
    border: none;
    width: 180px;
    height: 50px;
    position: relative;
    left: 20px;
}

.text {
    color: white;
    position: relative;
    top: 12px;
    left: 5px;
}

table {
    position: relative;
    left: 10px;
    top: 10px;
}

textarea {
    background-color: blueviolet;
    border-radius: 5px;
    border: 1px solid white;
}

input {
    background-color: blueviolet;
    border-radius: 5px;
    border: 1px solid white;
    width: 220px;
    height: 35px;
}