h1 {
    border-bottom: 2px solid red;
    width: 240px;
    height: 50px;
}

table {
    text-align: left;
}

button {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    color: tomato;
    background-color: white;
    border: 1px solid tomato;
}

.text {
    border-left: 1px solid lightgrey;
}

h4 {
    opacity: 0.5;
}

h2 {
    opacity: 0.8;
}