div {
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: blue;
    color: white;
    height: 50px;
}

.list {
    background-color: white;
}

button {
    padding: 10px;
}

.view {
    background-color: rgb(5, 162, 5);
    color: white;
}

.update {
    background-color: yellow;
    color: black;
}

.delete {
    background-color: rgb(242, 45, 45);
    color: white;
}