form {
    width: 600px;
    background: lightgrey;
    padding: 20px;
}

h2 {
    border-top: 1px solid gray;
}

.text {
    width: 210px;
}

select {
    width: 100%;
    padding: 5px;
}

.check {
    border-top: 1px solid gray;
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}

.ship {
    border-top: 1px solid gray;
}