* {
    margin: 0;
    padding: 0;
}

.tab {
    width: 1440px;
    height: 48px;
    background-color: #000000;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.tab a {
    color: #FAFAFA;
}

.tab .english {
    position: relative;
    left: 250px;
}

.tab img {
    position: relative;
    left: 255px;
}

.tools {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #000000;
    width: 1440px;
}

.tools input {
    border: none;
    background-color: lightgray;
}

.tools span {
    background-color: lightgray;
    width: 243px;
    height: 38px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.tools .link a {
    text-decoration: none;
    color: #000000;
    margin: 30px;
}

.tools .picture {
    position: relative;
    right: 75px;
}