.backgruop {
    width: 570px;
    height: 380px;
    background-color: lightgrey;
}

table {
    width: 100%;
    height: 20%;
    color: darkblue;
}

.magn {
    margin: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: darkblue;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.redcolor {
    background-color: tomato;
    color: white;
}

.size {
    width: 200px;
}