.Item {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 800px;
    box-shadow: lightgrey;
    border: none;
}

.arrow {
    position: relative;
    left: 490px;
}

.blueline {
    background-color: lightblue;
}

.redline {
    color: red;
}