body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
}

.tab {
    width: 1440px;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img0 {
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

.img1 {
    width: 28px;
    height: 28px;
    margin-right: 50px;
}

.img2 {
    width: 28px;
    height: 28px;
    margin-right: 50px;
}

.img3 {
    width: 28px;
    height: 28px;
    margin-right: 50px;
}

.img4 {
    width: 28px;
    height: 28px;
    margin-right: 80px;
}

.tab h1 {
    position: relative;
    right: 90px;
}

.tools a {
    text-decoration: none;
    margin-right: 100px;
    color: #000000;
}

.image {
    width: 1440px;
    height: 1007.9295654296875px;
    position: relative;
}

.board {
    width: 643px;
    height: 443px;
    top: 253px;
    left: 739px;
    background-color: #FFF3E3;
    position: absolute;
}

.board h1 {
    font-size: 42px;
    color: #B88E2F;
}

.board button {
    width: 222px;
    height: 74px;
    background-color: #B88E2F;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
}

.board span {
    font-size: 16px;
    color: #333333;
    position: relative;
    top: 25px;
}

.board p {
    font-size: 18px;
    color: #333333;
    position: relative;
    bottom: 20px;
}

.boardB {
    position: relative;
    left: 60px;
    top: 40px;
}

.backgruod {
    width: 1440px;
    background-color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom: 145px;
}

.picture img {
    margin: 10px;
}

.text {
    display: flex;
    justify-content: space-evenly;
    gap: 95px;
}

.backgruod h1 {
    position: relative;
    top: 20px;
}