h2 {
    display: inline-block;
    padding: 10px;
    margin-left: 100px;
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
}

.click {
    display: inline-block;
}

.backgruod {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    margin-right: 100px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

a {
    margin: 20px;
    text-decoration: none;
    color: gray;
}

.click .home {
    color: black;
}